.ic-panel {
	display: flex;
	flex-direction: column;
	margin: 1px;
	padding: 0.5rem 0.75rem 0.5rem 0.75rem;
	border-radius: 4px;
	border: 1px solid light-dark(#d6d6d6, #2a2a2a);
	border-left: 1px solid light-dark(#ccf4, #88f4);
	background-color: light-dark(#f8f8f8, #111); /* or light-dark(#f6f6f6, #0a0a0a); */
	color: var(--vtbag-ic-label-color);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
.ic-panel-header {
	font-weight: bold;
	margin-bottom: 0.5rem;
	color: var(--vtbag-ic-content-color);
	font-size: 1rem;
}
