<html>
	<body>
		<h1>Empty Page</h1>
		<details>
			<summary>Click to expand</summary>
			<p>This is an empty page for testing purposes.</p>
			<p>This is an empty page for testing purposes.</p>
			<p>This is an empty page for testing purposes.</p>
			<p>This is an empty page for testing purposes.</p>
			<p>This is an empty page for testing purposes.</p>
			<p>This is an empty page for testing purposes.</p>
			<p>This is an empty page for testing purposes.</p>
		</details>
		<p>This is an empty page for testing purposes.</p>
		<p>This is an empty page for testing purposes.</p>
		<style is:global>
			:root {
				color-scheme: dark light;
				interpolate-size: allow-keywords;
			}
			details::details-content {
				height: 0;
				overflow: clip;
				transition:
					height 0.3s ease,
					content-visibility 0.3s ease allow-discrete;
				border: 1px solid red;
			}
			details[open]::details-content {
				height: auto;
			}

			details summary {
				list-style: none;
			}
			details summary {
				position: relative;
				padding-left: 1.2em;
			}

			details summary::before {
				content: '';
				position: absolute;
				left: 0.4em;
				top: 0.1em;
				border: 0.333em solid transparent;
				border-left-color: currentColor;
				transform-origin: 25% 50%;
				transition: transform 0.2s ease;
			}

			details[open] summary::before {
				transform: rotate(90deg);
			}
		</style>
	</body>
</html>
