---

---

<div class="quick-counts">
	<p id="group-counter">0</p>
	<input
		type="checkbox"
		title="When selected,\nshift click for short skip"
		name="freeze-toggle"
		id="freeze-toggle"
	/>
	<label for="freeze-toggle">Freeze</label>
</div>

<style>
	.quick-counts p {
		margin: 0;
		width: 2em;
		text-align: center;
		padding-left: 8px;
		color: #888;
	}
	.quick-counts input {
		margin-left: 12px;
		accent-color: light-dark(tomato, crimson);
	}
	.quick-counts label {
		position: relative;
		top: -2px;
		margin: 0;
	}
	:global(.window.minimized .quick-counts label) {
		display: none;
	}
</style>

<script>
	import { setupPauseSheet } from './pause-sheet';

	const freezer = top!.document.getElementById('freeze-toggle') as HTMLInputElement;
	freezer.addEventListener('click', (e) => {
		console.log('freeze', e.shiftKey);
		let sheet = top!.__vtbag!.ic2!.pauseSheet;
		if (!sheet) {
			sheet = setupPauseSheet();
		}
		sheet!.disabled = !freezer.checked;
	});

	const groupCounter = top!.document.getElementById('group-counter');
	const mainLoop = () => {
		const iframe = top!.__vtbag!.ic2!.iframe!;
		groupCounter!.textContent = iframe.contentDocument?.getAnimations().length.toString() ?? '0';
		requestAnimationFrame(mainLoop);
	};
	requestAnimationFrame(mainLoop);
</script>
