---
import Layout from '../components/Layout.astro';
---

<Layout title="Animations">
	<main>
		<style is:global is:inline>
			@scope {
				:scope,
				&:nth-of-type(1) {
					view-transition-name: main;
				}
				:scope p b {
					view-transition-name: b;
				}
				button {
					&::before {
						content: 'before-';
						view-transition-name: foo;
					}
					view-transition-name: button;
					&::after {
						content: '-after';
						view-transition-name: bar;
					}
				}
			}
			body {
				view-transition-name: body;
			}
			h1 {
				view-transition-name: h1;
			}
			@scope (p) {
				view-transition-name: p;
			}
			button {
				view-transition-name: button;
			}
		</style>
		<h1>Animations</h1>
		<p>This is the <b>content</b> of the animation page.</p>
		<button id="button"><i>click</i></button>
		<a href=".">click</a>
	</main>
	<style slot="head" is:inline>
		& {
			color-scheme: dark;
		}

		::view-transition-image-pair(*) {
			animation-name: empty;
		}
		::view-transition-group(root) {
			animation-duration: 100ms;
		}
		::view-transition-group(body) {
			animation-duration: 200ms;
		}
		::view-transition-group(h1) {
			animation-duration: 300ms;
		}
		::view-transition-group(foo) {
			animation-duration: 3s;
			outline: 5px red dotted;
		}
		::view-transition-group(bar) {
			animation-duration: 3s;
			outline: 5px green dotted;
		}
		::view-transition-group(p) {
			animation-duration: 400ms;
		}
		::view-transition-group(button) {
			animation-duration: 500ms;
		}
		@keyframes empty {
		}
	</style>
	<script is:inline>
		button.addEventListener('click', (e) => {
			document.startViewTransition();
		});
	</script>
	<script>
		import { namedElements } from '@/css';
		namedElements();
	</script>
</Layout>
