---
import '@/styles/global.css';
---

<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1.0" />
		<title>Attach</title>
		<script is:inline src="/attach.js"></script>
		<style is:inline is:global>
			:root {
				color-scheme: dark light;
				height: 100vh;
			}
			body {
				height: 100vh;	
			}
			@view-transition {
				navigation: auto;
			}
			h1 i {
				view-transition-name: h1;
			}
		</style>
	</head>
	<body>
		<h1>Att<i>ack</i></h1>
		<p>Testing ways to attach HTML strings to the DOM</p>
		<a href="/attach/?a=5">click</a>
		<button id="button">document</button>
		<button id="button2">h1</button>
		<script>
			const h1 = document.querySelector('h1')!;
			document.querySelector('#button')!.addEventListener('click', () => {
				const transition = document.startViewTransition && document.startViewTransition();
				transition?.updateCallbackDone.catch((e) => console.log('update failed', e));
				transition?.ready.catch((e) => console.log('not ready', e));
				transition?.finished.catch((e) => console.log('finished failed', e));
			});
			document.querySelector('#button2')!.addEventListener('click', () => {
				const transition = h1.startViewTransition && h1.startViewTransition();
				transition?.updateCallbackDone.catch((e) => console.log('update failed', e));
				transition?.ready.catch((e) => console.log('not ready', e));
				transition?.finished.catch((e) => console.log('finished failed', e));
			});
		</script>
	</body>
</html>
