---
import Animations from '@/components/ic/Animations.astro';
import { Font } from 'astro:assets';
import Window from '@/components/Window.astro';
---

<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1.0" />
		<title>__vtbag_inspection_chamber_title__</title>
		<script>
			import { setupHooks } from '@/ic2/hooks';
			setupHooks();
		</script>
		<Animations />
		<Font cssVariable="--font-labels" preload />
		<Font cssVariable="--font-logo" preload />
		<style is:inline is:global>
			body {
				font-family: var(--font-label);
				-webkit-font-smoothing: antialiased;
				font-synthesis: none;
				text-rendering: optimizeLegibility;
				-moz-osx-font-smoothing: grayscale;
			}
			*,
			*::before,
			*::after {
				box-sizing: border-box;
			}
			:root,
			body {
				margin: 0;
				padding: 0;
				width: 100vw;
				height: 100vh;
			}

			#ic-iframe {
				border: none;
				margin: 0;
				padding: 0;
				display: block;
				background-color: wheat;
			}
			#dragBar {
				z-index: 1;
				cursor: move;
				&:hover {
					background-color: darkgreen;
				}
				background-color: light-dark(lightgray, rgb(48, 48, 48));
			}
			:root.action #dragBar:hover {
				background-color: orange;
			}
			#dock {
				flex: 1 1 auto;
				bottom: 0;
				left: 0;
				z-index: 1;
			}
			.dragging {
				user-select: none;
			}

			:active-view-transition-type(longTap) {
					/* #ic-iframe {
					view-transition-name: iframe;
				} */
				.window {
					view-transition-name: window;
				/* }
				.window-content {
					view-transition-name: window-content;
				}
				#content {
					view-transition-name: content;
				} */
				&::view-transition-group(content) {
					z-index: 1;
				}
				&::view-transition-group(*) {
					overflow: clip;
				}
			}
		</style>
	</head>
	<body style="display: flex; flex-direction: row">
		<svg style="display: none;" aria-hidden="true">
			<defs>
				<symbol id="icon-eye-off" viewBox="0 0 24 24">
					<path
						d="M17.94 17.94A10.37 10.37 0 0 1 12 20C7 20 2.73 16.11 1 12c.73-1.63 1.8-3.06 3.06-4.23"
					></path>
					<path d="M9.9 9.9a3 3 0 1 1 4.24 4.24"></path>
					<path d="M21 21L3 3"></path>
					<path d="M14.12 14.12a3 3 0 0 1-4.24-4.24"></path>
					<path d="M6.06 6.06A10.37 10.37 0 0 1 12 4c5 0 9.27 3.89 11 8-.73 1.63-1.8 3.06-3.06 4.23"
					></path>
				</symbol>
				<symbol id="icon-eye-on" viewBox="0 0 24 24">
					<path
						d="M17.94 17.94A10.37 10.37 0 0 1 12 20C7 20 2.73 16.11 1 12c.73-1.63 1.8-3.06 3.06-4.23"
					></path>
					<path d="M9.9 9.9a3 3 0 1 1 4.24 4.24"></path>
					<path d="M14.12 14.12a3 3 0 0 1-4.24-4.24"></path>
					<path d="M6.06 6.06A10.37 10.37 0 0 1 12 4c5 0 9.27 3.89 11 8-.73 1.63-1.8 3.06-3.06 4.23"
					></path>
				</symbol>
			</defs>
		</svg>
		<iframe id="ic-iframe" src="/iframe-src/" style="height: 100vh; width: 200px"></iframe>
		<div id="dragBar" style="display: block; height: 100vh; width: 5px; cursor: col-resize"></div>
		<div id="dock" style="height: 100vh; width: calc(100vw - 205px);">
			<vtbag-ic-animations id="content"></vtbag-ic-animations>
		</div>
		<Window style="display: none">
			<div slot="title" style="display: flex; flex-direction: row; align-items: center">
				<img id="logo" width="32" height="32" slot="title" src="/bot1.png" />
			</div>
		</Window>
		<script>
			import { mayStartViewTransition } from '@vtbag/utensil-drawer/may-start-view-transition';

			const DRAG_BAR_WIDTH = 5;
			const DRAG_BAR_WIDTH_PX = DRAG_BAR_WIDTH + 'px';

			const iframe = document.getElementById('ic-iframe')!;
			const dragBar = document.getElementById('dragBar')!;
			const dock = document.getElementById('dock')!;
			const win = dock!.nextElementSibling as HTMLElement;
			const content = document.querySelector<HTMLElement>('#content')!;

			let side = 'w';
			let dragReference = 0;
			let dragOriginalSize = 0;
			let isDragging = false;
			let longTap: ReturnType<typeof setTimeout> | undefined;

			addEventListener('longTap', (event) => {
				if (event instanceof CustomEvent) {
					side = event.detail.side;
					if (!side) return;

					mayStartViewTransition(
						{ update: handleLongTap, types: ['longTap'] }
						//			{ collisionBehavior: 'never' }
					);
				}
			});

			dragBar.addEventListener('pointerdown', (e) => {
				e.preventDefault();
				isDragging = true;
				document.body.classList.add('dragging');
				dragBar.setPointerCapture(e.pointerId);
				dragReference = side === 'e' || side === 'w' ? e.clientX : e.clientY;
				const iframeRect = iframe.getBoundingClientRect();
				dragOriginalSize =
					side === 'e' || side === 'w'
						? iframeRect.right - iframeRect.left
						: iframeRect.bottom - iframeRect.top;
				longTap = setTimeout(() => {
					longTap = undefined;
					stopDragging();
					dispatchEvent(new CustomEvent('longTap', { detail: { side: 'x' } }));
				}, 500);
			});

			dragBar.addEventListener('pointermove', (e) => {
				if (!isDragging) return;
				let delta = (side === 'e' || side === 'w' ? e.clientX : e.clientY) - dragReference;
				if (longTap && Math.abs(delta) > 5) {
					clearTimeout(longTap);
					longTap = undefined;
				}
				switch (side) {
					case 'n':
						iframe.style.height =
							Math.max(100, Math.min(innerHeight - 100, delta + dragOriginalSize)) + 'px';
						break;
					case 's':
						iframe.style.height =
							Math.max(100, Math.min(innerHeight - 100, dragOriginalSize - delta)) + 'px';
						break;
					case 'w':
						iframe.style.width =
							Math.max(100, Math.min(innerWidth - 100, dragOriginalSize + delta)) + 'px';
						break;
					case 'e':
						iframe.style.width =
							Math.max(100, Math.min(innerWidth - 100, dragOriginalSize - delta)) + 'px';
						break;
				}
			});
			function stopDragging() {
				switch (side) {
					case 'n':
					case 's':
						dock.style.height =
							innerHeight - parseInt(iframe.style.height, 10) - DRAG_BAR_WIDTH + 'px';
						break;
					case 'e':
					case 'w':
						dock.style.width =
							innerWidth - parseInt(iframe.style.width, 10) - DRAG_BAR_WIDTH + 'px';
						break;
				}
				isDragging = false;
				document.body.classList.remove('dragging');
				if (longTap) {
					clearTimeout(longTap);
					longTap = undefined;
				}
			}
			dragBar.addEventListener('pointerup', stopDragging);
			dragBar.addEventListener('pointercancel', stopDragging);

			function handleLongTap() {
				const {
					top: winTop,
					left: winLeft,
					bottom: winBottom,
					right: winRight,
				} = win.getBoundingClientRect();

				console.log({ side, winTop, winLeft, winBottom, winRight });
				document.body.innerHTML = '';

				if (side === 'x') {
					document.body.append(iframe, win);
					document.body.style.display = 'block';
					iframe.style.width = '100vw';
					iframe.style.height = '100vh';
					win.firstElementChild!.insertAdjacentElement('afterend', content);
					dragBar.style.display = 'none';
					dock.style.display = 'none';
					win.style.display = 'flex';
				} else {
					document.body.style.display = 'flex';
					dock.appendChild(content);
					dock.style.display = 'flex';
					dragBar.style.display = 'block';
					win.style.display = 'none';
					const len = side.length;
					if (len > 1) {
						side = matchMedia('(orientation: portrait)').matches ? side[0] : side[len - 1];
					}
					switch (side) {
						case 'n':
						case 's':
							document.body.style.flexDirection = 'column';
							dragBar.style.width = iframe.style.width = dock.style.width = '100vw';
							dragBar.style.height = DRAG_BAR_WIDTH_PX;
							dragBar.style.cursor = 'row-resize';
							dock.style.height = '';
							break;
						case 'e':
						case 'w':
							document.body.style.flexDirection = 'row';
							dragBar.style.height = iframe.style.height = dock.style.height = '100vh';
							dragBar.style.width = DRAG_BAR_WIDTH_PX;
							dragBar.style.cursor = 'col-resize';
							break;
					}
					switch (side) {
						case 'n':
							document.body.append(iframe, dragBar, dock);
							iframe.style.height = winTop + 'px';
							break;
						case 's':
							document.body.append(dock, dragBar, iframe);
							iframe.style.height = innerHeight - winBottom + 'px';
							break;
						case 'e':
							document.body.append(dock, dragBar, iframe);
							iframe.style.width = innerWidth - winRight + 'px';
							break;
						case 'w':
							document.body.append(iframe, dragBar, dock);
							iframe.style.width = winLeft + 'px';
							break;
					}
					switch (side) {
						case 'n':
						case 's':
							dock.style.height =
								innerHeight - parseInt(iframe.style.height, 10) - DRAG_BAR_WIDTH + 'px';
							break;
						case 'e':
						case 'w':
							dock.style.width =
								innerWidth - parseInt(iframe.style.width, 10) - DRAG_BAR_WIDTH + 'px';
							break;
					}
				}
			}
		</script>
	</body>
</html>
