---
import Main from '@/components/ic/Main.astro';
import { Font } from 'astro:assets';
import Window from '@/components/Window.astro';
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1.0" />
		<title>__vtbag_inspection_chamber_title__</title>
		<Font cssVariable="--vtbag-ic-font-labels" preload />
		<Font cssVariable="--vtbag-ic-font-logo" preload />
		<Main />
	</head>
	<body>
		<div id="specimen" style="height: 100%; width: calc(100% - 405px)">
			<iframe
				id="test-jig"
				style="height: 100%; width: 100%"
				src="/vtbag_inspection_chamber_src__/"></iframe>
			<div id="twins" style="width: 100%;height: 100%">
				<div id="default"></div>
			</div>
		</div>
		<div id="dragBar"></div>
		<div id="dock" style="height: 100%; width: 380px;"></div>
		<Window style="display: none; z-index:2">
			<div slot="title" style="display: flex; flex-direction: row; align-items: center">
				<img id="logo" width="32" height="32" slot="title" src="/bot1.png" />
			</div>
		</Window>

		<script>
			import { HOW_IC_CALLS_MSVT_CATCH_ERRORS } from '@/components/ic/debug';
			import { setupHooks } from '@/ic2/hooks';
			import { mayStartViewTransition } from '@vtbag/utensil-drawer/may-start-view-transition';

			const iframe = document.getElementById('test-jig')!;
			if (iframe) {
				const DRAG_BAR_WIDTH = 5;
				const DRAG_BAR_WIDTH_PX = DRAG_BAR_WIDTH + 'px';

				const specimen = document.getElementById('specimen')!;
				const twins = document.getElementById('twins')!;
				const dragBar = document.getElementById('dragBar')!;
				const dock = document.getElementById('dock')!;
				const win = dock!.nextElementSibling as HTMLElement;

				const srcdoc =
					`<html lang="en" style="overflow: clip">` +
					document.head.outerHTML +
					`<body style="display: block; overflow: clip;">
			<vtbag-ic-main></vtbag-ic-main>
	</body>
</html>`;
				dock.insertAdjacentHTML(
					'afterbegin',
					`<iframe id="content" style="border: none; width: 100%; height: 100%; overflow: clip;"></iframe>`
				);
				dock.firstElementChild!.setAttribute('srcdoc', srcdoc);
				let side = 'w';
				let dragReference = 0;
				let dragOriginalSize = 0;
				let isDragging = false;
				let longTap: ReturnType<typeof setTimeout> | undefined;

				addEventListener('longTap', (event) => {
					if (event instanceof CustomEvent) {
						side = event.detail.side;
						if (!side) return;

						mayStartViewTransition(
							{ update: handleLongTap, types: ['longTap'] },
							{ useTypesPolyfill: 'always', catchErrors: HOW_IC_CALLS_MSVT_CATCH_ERRORS }
						);
					}
				});

				dragBar.addEventListener('pointerdown', (e) => {
					e.preventDefault();
					isDragging = true;
					document.body.classList.add('dragging');
					dragBar.setPointerCapture(e.pointerId);
					dragReference = side === 'e' || side === 'w' ? e.clientX : e.clientY;
					const specimenRect = specimen.getBoundingClientRect();
					dragOriginalSize =
						side === 'e' || side === 'w'
							? specimenRect.right - specimenRect.left
							: specimenRect.bottom - specimenRect.top;
					longTap = setTimeout(() => {
						longTap = undefined;
						stopDragging();
						dispatchEvent(new CustomEvent('longTap', { detail: { side: 'x' } }));
					}, 500);
				});

				dragBar.addEventListener('pointermove', (e) => {
					if (!isDragging) return;
					let delta = (side === 'e' || side === 'w' ? e.clientX : e.clientY) - dragReference;
					if (longTap && Math.abs(delta) > 5) {
						clearTimeout(longTap);
						longTap = undefined;
					}
					switch (side) {
						case 'n':
							specimen.style.height =
								Math.max(100, Math.min(innerHeight - 100, delta + dragOriginalSize)) + 'px';
							break;
						case 's':
							specimen.style.height =
								Math.max(100, Math.min(innerHeight - 100, dragOriginalSize - delta)) + 'px';
							break;
						case 'w':
							specimen.style.width =
								Math.max(100, Math.min(innerWidth - 100, dragOriginalSize + delta)) + 'px';
							break;
						case 'e':
							specimen.style.width =
								Math.max(100, Math.min(innerWidth - 100, dragOriginalSize - delta)) + 'px';
							break;
					}
				});
				function stopDragging() {
					switch (side) {
						case 'n':
						case 's':
							dock.style.height =
								innerHeight - parseInt(specimen.style.height, 10) - DRAG_BAR_WIDTH + 'px';
							break;
						case 'e':
						case 'w':
							dock.style.width =
								innerWidth - parseInt(specimen.style.width, 10) - DRAG_BAR_WIDTH + 'px';
							break;
					}
					isDragging = false;
					document.body.classList.remove('dragging');
					if (longTap) {
						clearTimeout(longTap);
						longTap = undefined;
					}
				}
				dragBar.addEventListener('pointerup', stopDragging);
				dragBar.addEventListener('pointercancel', stopDragging);

				async function handleLongTap() {
					const content = document.querySelector<HTMLElement>('#content')!;
					const {
						top: winTop,
						left: winLeft,
						bottom: winBottom,
						right: winRight,
					} = win.getBoundingClientRect();

					document.body.innerHTML = '';
					twins.replaceChildren(twins.firstElementChild!);

					if (side === 'x') {
						document.body.append(specimen, win);
						document.body.style.display = 'block';
						specimen.style.width = '100%';
						specimen.style.height = '100%';
						win.insertAdjacentElement('beforeend', content);
						dragBar.style.display = 'none';
						dock.style.display = 'none';
						win.style.display = 'flex';
						content.style.flex = '1 1 auto';
						content.style.height = '';
					} else {
						document.body.style.display = 'flex';
						dock.appendChild(content);
						content.style.height = '100%';
						content.style.width = '100%';
						content.style.flex = '';
						dock.style.display = 'block';
						dragBar.style.display = 'block';
						win.style.display = 'none';
						const len = side.length;
						if (len > 1) {
							side = matchMedia('(orientation: portrait)').matches ? side[0] : side[len - 1];
						}
						switch (side) {
							case 'n':
							case 's':
								document.body.style.flexDirection = 'column';
								dragBar.style.width = specimen.style.width = dock.style.width = '100%';
								dragBar.style.height = DRAG_BAR_WIDTH_PX;
								dragBar.style.cursor = 'row-resize';
								dock.style.height = '';
								break;
							case 'e':
							case 'w':
								document.body.style.flexDirection = 'row';
								dragBar.style.height = specimen.style.height = dock.style.height = '100%';
								dragBar.style.width = DRAG_BAR_WIDTH_PX;
								dragBar.style.cursor = 'col-resize';
								break;
						}
						switch (side) {
							case 'n':
								document.body.append(specimen, dragBar, dock);
								specimen.style.height = winTop + 'px';
								break;
							case 's':
								document.body.append(dock, dragBar, specimen);
								specimen.style.height = innerHeight - winBottom + 'px';
								break;
							case 'e':
								document.body.append(dock, dragBar, specimen);
								specimen.style.width = innerWidth - winRight + 'px';
								break;
							case 'w':
								document.body.append(specimen, dragBar, dock);
								specimen.style.width = winLeft + 'px';

								break;
						}
						switch (side) {
							case 'n':
							case 's':
								dock.style.height =
									innerHeight - parseInt(specimen.style.height, 10) - DRAG_BAR_WIDTH + 'px';
								break;
							case 'e':
							case 'w':
								dock.style.width =
									innerWidth - parseInt(specimen.style.width, 10) - DRAG_BAR_WIDTH + 'px';
								break;
						}
					}
					let iframeWindow = document.querySelector<HTMLIFrameElement>('#content')!.contentWindow!;
					self.__vtbag.ic2!.chamberWindow = iframeWindow;
				}
				setupHooks(document.querySelector<HTMLIFrameElement>('#content')!.contentWindow!);
				self.__vtbag.ic2!.intersectionObserver = new IntersectionObserver(
					(entries) => {
						entries.forEach((entry) => {
							const link = (entry.target as HTMLElement).dataset.title;
							if (!link) return;
							self.__vtbag
								.ic2!.chamberWindow?.document.querySelector<VtbagIcPseudoElement>(
									`vtbag-ic-pseudo[data-link="${link}"]`
								)
								?.onIntersectionChange(entry);
						});
					},
					{
						root: document.querySelector<HTMLIFrameElement>('#twins')!,
						threshold: 0,
					}
				);

				dispatchEvent(new CustomEvent('longTap', { detail: { side: 'x' } }));
				window.matchMedia('(max-width: 799px)').matches
					? setTimeout(
							() => dispatchEvent(new CustomEvent('longTap', { detail: { side: 's' } })),
							1000
						)
					: (win.style.setProperty('--window-width', '650px'),
						win.style.setProperty('--window-height', innerHeight / 2 + 'px'));
			}
		</script>
		<style is:global>
			body {
				display: flex;
				flex-direction: row;
				overflow: hidden;
				margin: 0;
				height: 100%;
				width: 100%;
			}

			#dragBar {
				display: block;
				height: 100%;
				width: 5px;
				cursor: col-resize;
				touch-action: none;
			}
			#content {
				border: none;
				width: 100%;
				height: 100%;
				overflow: clip;
			}

			#default {
				accent-color: auto;
				block-size: auto !important;
				box-sizing: initial;
				cursor: auto;
				font-family: initial;
				font-size: initial;
				font-synthesis-position: auto;
				font-synthesis-small-caps: auto;
				font-synthesis-style: auto;
				font-synthesis-weight: auto;
				height: 0;
				hyphens: manual;
				inline-size: auto;
				letter-spacing: normal;
				line-height: normal;
				overflow-wrap: normal;
				pointer-events: auto;
				text-rendering: auto;
				unicode-bidi: normal;
				width: 0;
				-webkit-font-smoothing: auto;
			}

			#specimen {
				display: grid;
			}
			#twins {
				grid-area: 1 / 1 / 2 / 2;
				contain: strict;
				display: block;
				pointer-events: none;
				z-index: 1;
				inset: 0;
				right: 425px;
				overflow: clip;
			}

			:root.show-twins #twins {
				cursor: help;
				div[data-title] {
					outline: 1px dotted #8888;
					&:hover:hover:not(:has(*:hover)) {
						background-color: #8882;
					}
				}
				div[data-stopped] {
					outline: 2px solid light-dark(red, darkred);
					outline-offset: -2px;
				}
				div[data-title$='::view-transition'] {
					pointer-events: auto;
				}
			}

			#test-jig {
				grid-area: 1 / 1 / 2 / 2;

				border: none;
				margin: 0;
				padding: 0;
				display: block;
				background-color: light-dark(white, black);
			}
			#dragBar {
				z-index: 1;
				cursor: move;
				&:hover {
					background-color: darkgreen;
				}
				background-color: light-dark(#ccc, #333);
			}
			.action #dragBar:hover {
				background-color: orange;
			}
			#dock {
				flex: 1 1 auto;
				bottom: 0;
				left: 0;
				z-index: 1;
			}
			.dragging {
				user-select: none;
			}

			:active-view-transition-type(longTap) {
				.window {
					view-transition-name: window;
					iframe {
						view-transition-name: chamber-controls;
					}
				}
				#dock iframe {
					view-transition-name: chamber-controls;
				}
				&::view-transition-group(*) {
					overflow: clip;
				}
			}
			:active-view-transition-type(minimize) {
				.window {
					view-transition-name: window;
					iframe {
						view-transition-name: window-content;
					}
				}
				#logo {
					view-transition-name: logo;
				}
				#minimize-btn {
					view-transition-name: minimize-btn;
				}
				&::view-transition-group(window-content) {
					display: none;
				}
			}
		</style>
	</body>
</html>
