<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <title>title</title>
  <script is:inline>

  </script>
</head>

<body>

  <div class="controls">
    <button id="addPanel">Add Panel</button>
    <button id="toggleOrientation">Toggle Orientation</button>
  </div>
  <panel-grid>

  </panel-grid>
  <script>
    import "/src/components/panel-grid.ts";
    import "/src/components/resizable-panel.ts";
    import "/src/components/panel-resizer.ts";
  </script>
</body>

</html>