---
import Scope from './Scope.astro';
import './ic.css';
import './studio.css';
---

<Scope />
<template id="vtbag-ic-animations">
	<h2 class="ic-label" style="--vtn: label">Inspection Chamber</h2>
	<div class="animations-head" style="--vtn: animations-head">
		<div class="animations-head-main" style="--vtn: animations-head-main">
			<span>View Transitions: <span id="view-transitions">0</span></span>
			<span id="scopes">Scopes:</span>
			<span id="scope-buttons"></span>
		</div>
	</div>
	<div class="scope-container" style="--vtn: scope-container"></div>
</template>
<script>
	import { addBlinds } from './blinds';
	import { capture } from './capture';
	import { type Group } from './group';
	import { highlight } from './highlight';
	import { ledGroup } from './led-group';
	import { key } from './scope';
	import { allRoots } from '@/css';
	import { getCurrentViewTransition, mayStartViewTransition } from '@vtbag/utensil-drawer/may-start-view-transition';

	const moduleGroupMaps = new Map<Element, Map<string, Group>>();

	class ICAnimations extends HTMLElement {
		#initialized = false;
		groupMaps: Map<Element, Map<string, Group>>;
		#scopes = new Map<HTMLElement, VtbagIcScopeElement>();
		#observer?: ResizeObserver;
		#rootDocument?: Document;

		constructor() {
			super();
			this.groupMaps = moduleGroupMaps;
			self.addEventListener('ic-about-to-finish', (e) => {
				const vt = getCurrentViewTransition();
				console.log('ic-about-to-finish', vt);
				vt && vt.skipTransition();
				mayStartViewTransition(
					{
						update: () => {
							const root = (e as CustomEvent).detail.root;
							const scopeKey = key(root);
							const scope = this.#scopes.get(scopeKey)!;
							scope && (scope.animations = []);
							this.#scopes.delete(scopeKey);
							scope?.remove();
							allRoots.delete(root);
							parent.document.documentElement.classList.remove('action');
							this.renderHead();
							this.updateAnimationsHead();
						},
						types: ['vt-exit'],
					},
					{ collisionBehavior: 'chaining', useTypesPolyfill: 'always' }
				);
			});
		}

		disconnectCallback() {
			this.#observer?.disconnect();
		}

		connectedCallback() {
			this.#observer = new ResizeObserver(([entry]) => {
				const { inlineSize: w, blockSize: h } = entry.contentBoxSize[0] ?? entry.contentRect;
				const orientation = w > h ? 'landscape' : 'portrait';
				if (orientation !== document.documentElement.dataset.orientation) {
					document.documentElement.dataset.orientation = orientation;
				}
			});
			this.#observer.observe(this.parentElement!);

			if (this.#initialized) return;
			this.#initialized = true;

			this.appendChild(
				(document.getElementById('vtbag-ic-animations') as HTMLTemplateElement).content.cloneNode(
					true
				)
			);
			this.querySelector<HTMLSpanElement>('#scopes')!.style.display = 'none';
			this.querySelector<HTMLDivElement>('div.animations-head')!.insertAdjacentHTML(
				'beforeend',
				ledGroup({
					className: 'freeze',
					groupName: 'freeze',
					checked: 'freeze',
					alternatives: [
						{
							label: 'Freeze',
							value: 'freeze',
							id: 'freeze',
						},
						{
							label: 'Next',
							value: 'next',
							id: 'next',
						},
						{
							label: 'Run',
							value: 'run',
							id: 'run',
						},
					],
				})
			);

			this.querySelector<HTMLDivElement>('div.animations-head')!.insertAdjacentHTML(
				'beforeend',
				ledGroup({
					className: 'slow-mo',
					groupName: 'slow-mo',
					checked: 'normal',
					alternatives: [
						{
							label: 'Normal',
							value: 'normal',
							id: 'normal',
						},
						{
							label: 'Slow',
							value: 'slow',
							id: 'slow',
						},
						{
							label: 'Slower',
							value: 'slower',
							id: 'slower',
						},
					],
				})
			);
			(
				this.querySelector<HTMLDivElement>('div.animations-head')!
					.lastElementChild as HTMLDivElement
			).style.display = 'none';

			this.querySelector('.freeze')!.addEventListener('click', (e) => {
				const clicked = e.target as HTMLInputElement;
				if (clicked.tagName !== 'INPUT') return;

				const freeze = () => {
					this.updateAnimationsHead();
					const freezeOption = this.querySelector<HTMLInputElement>(
						'input[name="freeze"]:checked'
					)?.value;
					if (freezeOption) {
						if (this.#scopes.size === 0) {
							if (freezeOption === 'freeze') {
								this.refreshAnimations(this.#rootDocument!.getAnimations())!;
								return;
							}
							if (freezeOption === 'next') {
								this.#rootDocument!.getAnimations().forEach((a) => {
									a.finish();
								});
								return;
							}
						}
						this.querySelectorAll<HTMLInputElement>(
							`.scope-container input[value=${freezeOption}]`
						).forEach((input) => {
							input.click();
						});
					}
				};
				mayStartViewTransition(
					{ update: freeze, types: ['freeze'] },
					{ collisionBehavior: 'chaining', useTypesPolyfill: 'always' }
				);
			});

			this.querySelector('.slow-mo')!.addEventListener('click', (e) => {
				if ((e.target as HTMLElement).tagName !== 'INPUT') return;

				const slowMo = () => {
					const speed = (e.target as HTMLInputElement).value;

					if (this.#scopes.size === 0) {
						this.#rootDocument?.getAnimations().forEach((a) => {
							a.updatePlaybackRate(speed === 'normal' ? 1 : speed === 'slow' ? 0.1 : 0.01);
						});
					} else {
						this.querySelectorAll<VtbagIcScopeElement>('vtbag-ic-scope').forEach((scope) => {
							scope.animations.forEach((a) => {
								a.updatePlaybackRate(speed === 'normal' ? 1 : speed === 'slow' ? 0.1 : 0.01);
							});
						});
					}
					this.updateAnimationsHead();
				};
				mayStartViewTransition(
					{ update: slowMo, types: ['slow-mo'] },
					{ collisionBehavior: 'chaining', useTypesPolyfill: 'always' }
				);
			});

			addEventListener('ic-after-capture-new', this.mayRender);
			//	addEventListener('ic-animation-start', this.mayRender);

			this.querySelector<HTMLSelectElement>('#scope-buttons')!.addEventListener('click', (e) => {
				const button = e.target as HTMLButtonElement;
				if (button.tagName === 'BUTTON') {
					const scope = [...this.#scopes.values()].find((s) => s.path === button.value);
					highlight(scope);
				}
			});
		}

		mayRender = (e: Event) => {
			const detail = (e as CustomEvent).detail;
			this.#rootDocument = detail.root.ownerDocument;
			let update = () => this.renderHead();
			if (this.querySelector<HTMLInputElement>('#run')?.checked) {
				const speed = this.querySelector<HTMLInputElement>('input[name="slow-mo"]:checked')?.value;
				if (speed !== 'normal') {
					this.#rootDocument!.getAnimations().forEach((a) => {
						a.updatePlaybackRate(speed === 'slow' ? 0.1 : 0.01);
					});
				}
			} else {
				this.#rootDocument?.getAnimations().forEach((a) => a.pause());
				update = () => {
					this.refreshAnimations(this.#rootDocument!.getAnimations())!;
					this.renderHead();
				};
			}
			mayStartViewTransition(
				{ update, types: ['vt-entry'] },
				{ collisionBehavior: 'chaining', useTypesPolyfill: 'always' }
			);
		};

		private renderHead() {
			const firstScopeFreeze = this.querySelector<HTMLElement>('.scope-container .freeze');
			const newDisplay = this.#scopes.size <= 1 ? 'none' : 'flex';
			if (firstScopeFreeze && firstScopeFreeze.style.display !== newDisplay) {
				firstScopeFreeze.style.display = newDisplay;
			}
			firstScopeFreeze?.closest('vtbag-ic-scope')!.updateScopeHead();

			const scopeContainer = this.querySelector<HTMLDivElement>('div.scope-container')!;
			this.querySelector<HTMLSpanElement>('#view-transitions')!.innerText = '' + this.#scopes.size;
			this.querySelector<HTMLSpanElement>('#scopes')!.style.display =
				this.#scopes.size > 1 ? 'inline' : 'none';

			const buttons = this.querySelector('#scope-buttons')!;
			buttons.innerHTML = '';
			[...this.#scopes.values().map((s) => s.path)]
				.sort((a, b) => a.localeCompare(b))
				.forEach((path) => {
					buttons.insertAdjacentHTML('beforeend', `<button value="${path}">${path}</button>`);
				});

			const sorted = [...scopeContainer.children].sort((a, b) =>
				a.querySelector('span')!.innerText.localeCompare(b.querySelector('span')!.innerText)
			);

			if ('moveBefore' in Element.prototype)
				// @ts-ignore
				sorted.forEach((s) => scopeContainer.moveBefore(s, null));
			else sorted.forEach((s) => scopeContainer.appendChild(s));
		}

		refreshAnimations(animations: Animation[]) {
			const newScopes = new Map<HTMLElement, Animation[]>();

			animations.forEach((a) => {
				if (
					a.effect?.pseudoElement?.startsWith('::view-transition') &&
					// todo: deal with other types of animation
					a.effect?.target
				) {
					if (a.constructor.name !== 'CSSAnimation') console.log('!!!', a);
					const scope = a.effect!.target!;
					let animations = newScopes.get(scope);
					if (!animations) {
						animations = [];
						newScopes.set(scope, animations);
					}
					animations.push(a);
				}
			});
			newScopes.forEach((animations, element) => {
				let scope = this.#scopes.get(key(element))!;
				if (!scope) {
					scope = document.createElement('vtbag-ic-scope');
					scope.init(element, this.groupMaps.get(key(element))!.get('@')!, animations);
					this.#scopes.set(key(element), scope);
					this.querySelector<HTMLDivElement>('div.scope-container')!.appendChild(scope);
				}
				if (
					scope.animations?.length !== animations.length ||
					scope.animations.some((a, i) => a !== animations[i])
				) {
					scope.animations = animations;
				}
			});
			return newScopes;
		}

		updateAnimationsHead() {
			const color = { red: this.#scopes.size > 0, green: this.#scopes.size === 0 };
			this.querySelector<HTMLDivElement>('.slow-mo')!.style.display =
				this.#scopes.size > 0 || this.querySelector('.freeze input[value="run"]:checked')
					? ''
					: 'none';

			this.#scopes.forEach(
				(scope) =>
					(color[
						scope.querySelector<HTMLInputElement>(`input[value^="run"]`)?.checked ? 'red' : 'green'
					] = false)
			);
			this.querySelectorAll('.animations-head input[name=freeze]').forEach((e) =>
				e.classList.remove('red', 'orange')
			);
			if (color.red)
				this.querySelector('.animations-head input[name=freeze]:checked')!.classList.add('red');
			if (color.red === color.green) {
				this.querySelector('.animations-head input[name=freeze]:checked')!.classList.add('orange');
			}
			addBlinds(
				this.querySelector('.animations-head')!,
				'div',
				'head-blind',
				'animations-head',
				'blind'
			);
		}
	}

	if (!customElements.get('vtbag-ic-animations'))
		customElements.define('vtbag-ic-animations', ICAnimations);

	['ic-before-capture-old', 'ic-before-capture-new'].forEach((eventName) =>
		self.addEventListener(eventName, (e) => {
			const transitionRoot = (e as CustomEvent).detail.root;
			if (transitionRoot.tagName === 'HTML')
				parent.document.documentElement.classList.add('action');
			const transitionRootKey = key(transitionRoot);
			const groups =
				moduleGroupMaps.get(transitionRootKey) ??
				new Map<string, Group>([
					['@', { name: '' + moduleGroupMaps.size, className: '', children: [], ancestor: false }],
				]);
			const sheet = capture(transitionRoot, groups);
			moduleGroupMaps.set(transitionRootKey, groups);

			const head = transitionRoot.ownerDocument.head;
			head.insertAdjacentHTML(
				'beforeend',
				`<style id="vtbag-ic-temp-style-${groups.get('@')!.name}">${sheet}</style>`
			);
		})
	);

	['ic-after-capture-old', 'ic-after-capture-new'].forEach((event) =>
		self.addEventListener(event, (e) => {
			const root = (e as CustomEvent).detail.root;

			root.ownerDocument.head
				.querySelector(`#vtbag-ic-temp-style-${moduleGroupMaps.get(key(root))?.get('@')?.name}`)
				?.remove();
		})
	);

	self.addEventListener('ic-before-capture-new', (e) => {
		const head = (e as CustomEvent).detail.root.ownerDocument.head;
		head.querySelector('#vtbag-ic-persistent-style') ||
			head.insertAdjacentHTML(
				'beforeend',
				`
<style id="vtbag-ic-persistent-style">
	::view-transition-image-pair(*),
	::view-transition-old(*),
	::view-transition-new(*) {
	--vtbag-ic-only-child: initial;
}
::view-transition-image-pair(*):only-child,
::view-transition-old(*):only-child,
::view-transition-new(*):only-child {
	--vtbag-ic-only-child: "1";
}
</style>
`
			);
	});
</script>
