---
import ViewTransitionCapture from './ViewTransitionCapture.astro';
---

<ViewTransitionCapture />
<script>
	import {
		getCurrentViewTransition,
		mayStartViewTransition,
	} from '@vtbag/utensil-drawer/may-start-view-transition';
	import { addBlinds } from './blinds';
	import { setVectors } from '@vtbag/utensil-drawer/vectors';
	import { ICElement } from './ic-element';
	import { ledGroup } from './led-group';

	class ICCaptures extends ICElement {
		#observer?: ResizeObserver;
		#resizeToggle: any;

		connectedCallback() {
			this.#observer = new ResizeObserver(() => {
				if (this.#resizeToggle || getCurrentViewTransition()) {
					return;
				}
				this.#resizeToggle = true;
				requestAnimationFrame(() => {
					addBlinds(this, 'div', 'head-blind', 'capture-head', 'blind');
					this.#resizeToggle = false;
				});
			});
			this.#observer.observe(this);
			this.render();
		}

		disconnectedCallback() {
			this.#observer?.disconnect();
		}

		protected render() {
			this.classList.add('panel');
			const oldOnly = sessionStorage.getItem('vtbag-ic-capture-old-only') || 'none';
			parent.__vtbag!.ic2!.captureOldOnly = oldOnly === 'old-only';
			this.innerHTML =
				ledGroup({
					independent: true,
					groupName: 'capture-mode',
					checked: oldOnly,
					className: 'capture-options',
					alternatives: [
						{ id: 'old-only', value: 'old-only', label: 'Capture old images, only' },
						{ id: 'freeze-types', value: 'freeze-types', label: 'Freeze types' },
					],
				}) +
				ledGroup({
					className: 'sort',
					groupName: `capture-sort`,
					checked: sessionStorage.getItem('vtbag-ic-capture-sort') || 'paint-order',
					alternatives: [
						{
							label: 'Alphabetical',
							value: 'alpha',
							id: `capture-sort-alpha`,
						},
						{
							label: 'Paint Order',
							value: 'paint-order',
							id: `capture-sort-paint-order`,
						},
					],
				}) +
				`<p class="explainer"><i>Captures will be listed here when your page starts a view transition.</i></p>`;
			addBlinds(this, 'div', 'head-blind', 'capture-head', 'blind');
			this.querySelector('.capture-options #old-only')!.addEventListener('change', (event) => {
				parent.__vtbag!.ic2!.captureOldOnly = (event.target as HTMLInputElement).checked;
				sessionStorage.setItem(
					'vtbag-ic-capture-old-only',
					parent.__vtbag!.ic2!.captureOldOnly ? 'old-only' : 'none'
				);
			});
			this.querySelector('.capture-options #freeze-types')!.addEventListener('change', (event) => {
				const target = event.target as HTMLInputElement;
				target.classList.toggle('red', target.checked);
				parent.__vtbag!.ic2!.captureFreezeTypes = target.checked;
				if (!target.checked) {
					parent.location.reload();
				} else {
					self.addEventListener('ic-after-capture-old', (e) => {
						const detail = (e as CustomEvent).detail;
						const root = detail.root;
						if (root.ownerDocument.documentElement === root) {
							parent.document.documentElement.classList.add('action');
							detail.viewTransition.finished.finally(() => {
								parent.document.documentElement.classList.remove('action');
							});
						}
					});
				}
			});
			this.querySelector('.input-led-group.sort')?.addEventListener('change', (event) => {
				const alpha = (event.target as HTMLInputElement).value === 'alpha';
				sessionStorage.setItem('vtbag-ic-capture-sort', alpha ? 'alpha' : 'paint-order');
				this.querySelectorAll(
					'vtbag-ic-view-transition-capture > details *:has(> details)'
				).forEach((list) => {
					const items = Array.from(list.children);
					if (alpha)
						items.sort((a, b) => {
							const aLabel = a.querySelector('summary')?.textContent!.trim() ?? '';
							const bLabel = b.querySelector('summary')?.textContent!.trim() ?? '';
							return aLabel.localeCompare(bLabel);
						});
					else
						items.sort((a, b) => {
							const aIndex = parseInt(a.getAttribute('data-paint-order') || '0', 10);
							const bIndex = parseInt(b.getAttribute('data-paint-order') || '0', 10);
							return aIndex - bIndex;
						});
					const transition = mayStartViewTransition(
						{
							update: () => {
								if ('moveBefore' in Element.prototype)
									items.forEach((s) => list.moveBefore(s, null));
								else items.forEach((s) => list.appendChild(s));
							},
							types: ['sort-captures'],
						},
						{ collisionBehavior: 'chaining', useTypesPolyfill: 'always' }
					);
					transition.ready.then(() => {
						setVectors();
						transition.types.add('with-vectors');
					});
				});
			});

			['ic-after-capture-old', 'ic-after-capture-new', 'ic-ready-error'].forEach((eventName) =>
				self.addEventListener(eventName, this.showCaptureResult)
			);
		}
		showCaptureResult = (event: Event) => {
			const isOldCapture = event.type === 'ic-after-capture-old';
			const showOnlyOldCapture = parent.__vtbag!.ic2!.captureOldOnly ?? false;

			if (isOldCapture !== showOnlyOldCapture && event.type !== 'ic-ready-error') return;

			this.querySelector('.explainer')?.remove();

			this.querySelectorAll('vtbag-ic-view-transition-capture').forEach((el) => el.remove());
			const key = [...parent.__vtbag!.ic2!.vtMap?.keys()!][0];
			this.insertAdjacentHTML(
				'beforeend',
				`<vtbag-ic-view-transition-capture></vtbag-ic-view-transition-capture>`
			);
			const captureElement = this.lastElementChild as VtbagIcViewTransitionCaptureElement;
			captureElement.init(key);
			parent.__vtbag!.ic2!.vtMap?.clear();
		};
	}
	customElements.define('vtbag-ic-captures', ICCaptures);
</script>

<style is:global>
	@layer components {
		vtbag-ic-captures {
			display: grid;
			margin: 0 4px;
			border-radius: 4px;
			grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
			grid-auto-flow: row dense;
			padding: 2px;
			> * {
				margin: 2px;
			}

			& > p {
				grid-column: 1 / -1;
			}
			p {
				margin: 4px;
				padding: 4px;
				font-size: 0.9rem;
			}
			.print {
				cursor: pointer;
				user-select: none;
			}
			strong {
				color: light-dark(#222, #ddd);
			}
			.highlight {
				color: light-dark(#222222, #dddddd);
				cursor: pointer;
			}
		}

		:active-view-transition-type(with-vectors)::view-transition-image-pair(.sorted-item) {
			animation-name: arc;
			animation-timing-function: ease-in-out;
		}
		@keyframes arc {
			50% {
				transform: translateX(
					calc(var(--vtbag-vector-from-y) / 20 - var(--vtbag-vector-to-y) / 20)
				);
			}
		}
	}
</style>
