---
import Pseudo from './Pseudo.astro';
---

<Pseudo />
<script>
	import type { Group } from './group';
	class ICGroup extends HTMLElement {
		#animations: Animation[] = [];
		#dirty = false;
		group?: Group;
		#scope?: VtbagIcScopeElement;

		constructor() {
			super();
		}
		connectedCallback() {
			this.#scope = this.closest('vtbag-ic-scope') as VtbagIcScopeElement;
			this.render();
		}

		get name() {
			return this.group?.name;
		}
		get scope() {
			return this.#scope;
		}

		get animations() {
			return this.#animations;
		}

		set animations(value: Animation[]) {
			this.#animations = value;
			this.#dirty = true;
			this.render();
		}

		render() {
			const name = this.group?.name || '';
			if (!name) {
				this.insertAdjacentHTML('afterbegin', `<div class="group-content"></div>`);
				return;
			}
			if (this.isConnected && this.#dirty && this.group) {
				this.#dirty = false;

				this.style.viewTransitionName = 'c-' + this.#scope!.scopeId + '-' + this.group!.preOrder;

				if (this.group?.children.length) this.style.gridColumn = 'span 2';
				this.style.outline = outline(this.group!);

				const { noOld, noNew, noChildren } = components(this.#scope!.element, name);

				this.insertAdjacentHTML(
					'afterbegin',
					`
	<div class="group-content"><h3 class="heading" data-group="${this.group!.parent?.preOrder}">${displayName(name)}</h3>
		<vtbag-ic-pseudo name="group" ${this.#scope!.size === 'small' ? 'style="height: 0px"' : ''}'>
			<vtbag-ic-pseudo name="image-pair"><div class="old-new">
				${noOld ? '' : '<vtbag-ic-pseudo name="old"></vtbag-ic-pseudo>'}
				${noNew ? '' : '<vtbag-ic-pseudo name="new"></vtbag-ic-pseudo>'}
			</div></vtbag-ic-pseudo>
			${noChildren ? '' : '<vtbag-ic-pseudo name="group-children"></vtbag-ic-pseudo>'}
		</vtbag-ic-pseudo></div>
					`
				);
			}

			function displayName(name: string) {
				if (name.startsWith('-vtbag-auto-'))
					name = 'auto' + '<span>(' + name.substring(name.lastIndexOf('-') + 1) + ')</span>';
				if (name.startsWith('-vtbag-match-element-'))
					name = 'match-element' + '<sup>(' + name.substring(name.lastIndexOf('-') + 1) + ')</sup>';
				return name;
			}

			function outline(group: Group) {
				let root = group;
				while (root.parent) root = root.parent;
				const outline = `4px inset oklch(0.7 0.04 ${(360 / (root.postOrder! - root.preOrder! + 1)) * group.preOrder!}deg / 1)`;
				return outline;
			}

			function components(scope: HTMLElement, name: string) {
				const noOld = getComputedStyle(scope, `::view-transition-new(${name})`).getPropertyValue(
					'--vtbag-ic-only-child'
				);
				const noNew = getComputedStyle(scope, `::view-transition-old(${name})`).getPropertyValue(
					'--vtbag-ic-only-child'
				);
				const noChildren = getComputedStyle(
					scope,
					`::view-transition-image-pair(${name})`
				).getPropertyValue('--vtbag-ic-only-child');
				return { noOld, noNew, noChildren };
			}
		}
	}
	if (!customElements.get('vtbag-ic-group')) customElements.define('vtbag-ic-group', ICGroup);
</script>
