<script>
	import { displayName } from './group';
import { ICElement } from './ic-element';

	const initial = `Click a spot on the page to identify the <b>view transition pseudo elements</b> at that position.<br>
		Close this panel to remove the identify boxes from the screen.`;

	class ICIdentifyPseudos extends ICElement {
		render() {
			this.classList.add('panel');
			const open = !(sessionStorage.getItem('ic-identify-pseudos-open') === 'false');
			this.innerHTML = `
			<details ${open ? 'open' : ''}>
				<summary>Pick pseudo element from screen</summary>
				<div id="identified-pseudos">${initial}</div>
			</details>`;
			this.querySelector('details')!.addEventListener('toggle', (e) =>
				this.init((e.target as HTMLDetailsElement).open)
			);
			this.hide();
		}
		init(open: boolean) {
			sessionStorage.setItem('ic-identify-pseudos-open', open ? 'true' : 'false');
			parent.document.documentElement.classList.toggle('show-pseudos', open);
			parent.document
				.querySelectorAll('#twins div[data-twin]')
				.forEach((div) => div[open ? 'addEventListener' : 'removeEventListener']('click', pick));
		}
		show() {
			this.style.display = 'block';
			this.init(this.querySelector<HTMLDetailsElement>('details')!.open);
		}
		hide() {
			this.style.display = 'none';
			this.querySelector('#identified-pseudos')!.innerHTML = initial;
		}
	}
	function pseudo(div: HTMLElement) {
		return div.dataset.twin!;
	}

	function pick(event: Event) {
		const e = event as PointerEvent;
		const target = e.target as HTMLElement;
		if (target?.tagName === 'DIV') {
			let content = (target.ownerDocument.elementsFromPoint(e.clientX, e.clientY) as HTMLElement[])
				.filter((el) => el.dataset.twin)
				.toReversed()
				.map(
					(el) => `<div data-twin="${el.dataset.twin!}"
				${el.dataset.stopped !== undefined ? 'data-stopped' : ''}
				${el.dataset.currentDetails !== undefined ? 'data-current-details' : ''}
				>${displayName(el.dataset.twin!)}</div>`
				)
				.join('');

			const identifiedPseudos = document.querySelector<HTMLElement>('#identified-pseudos')!;
			identifiedPseudos.innerHTML = content;
			identifiedPseudos.querySelectorAll('div').forEach((div) => {
				div.addEventListener('click', async () => {
					const details =
						document.querySelector<VtbagIcPseudoDetailsElement>('vtbag-ic-pseudo-details');
					details?.set(pseudo(div));
				});
				div.addEventListener('pointerenter', () => {
					const what = pseudo(div);
					const it = [
						...parent.document.querySelectorAll<HTMLDivElement>(`#twins div[data-twin]`),
					].find((d) => d.dataset.twin === what)!;
					let color = `darkred`;
					if (
						what.endsWith('::view-transition') ||
						what.includes('::view-transition-group-children(')
					) {
						color = 'light-dark(darkslategray, darkcyan)';
					} else if (what.includes('::view-transition-new(')) {
						color = 'darkolivegreen';
					} else if (what.includes('::view-transition-old(')) {
						color = 'light-dark(darkslateblue, slateblue)';
					} else if (what.includes('::view-transition-image-pair(')) {
						color = 'darkgoldenrod';
					}
					it.style.outline = `2px solid ${color}`;
					it.style.outlineOffset = '-2px';
					div.style.color = color;
				});
				div.addEventListener('pointerleave', () => {
					const what = pseudo(div);
					const it = [
						...parent.document.querySelectorAll<HTMLDivElement>(`#twins div[data-twin]`),
					].find((d) => d.dataset.twin === what)!;
					it.style.outline = '';
					it.style.outlineOffset = '';
					div.style.color = '';
				});
			});
		}
	}
	customElements.define('vtbag-ic-identify-pseudos', ICIdentifyPseudos);
</script>

<style is:global>
	@import './styles/devtools.css';
	@import './styles/details.css';
	@layer components {
		vtbag-ic-identify-pseudos {
			display: block;
			grid-column: 1 / -1;
			padding: 0.5rem 0.75rem 0.5rem 0.75rem;
			background: light-dark(#f6f6f6, #0a0a0a);
			border-radius: 4px;
			border: 1px solid light-dark(#d6d6d6, #2a2a2a);
			box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
			#identified-pseudos div {
				cursor: pointer;
				padding: 2px 4px;
				border-top: 1px solid light-dark(#d6d6d6, #2a2a2a);
				&[data-current-details] {
					color: light-dark(black, white);
				}
				&[data-stopped] {
					color: light-dark(red, darkred);
				}
			}		
			b {
				color: light-dark(black, white);
			}
		}
	}
</style>
