---
import Welcome from './Welcome.astro';
import Message from './Message.astro';
import Analyzer from './Analyzer.astro';
import Animations from './Animations.astro';
import Captures from './Captures.astro';
import './ic.css';
import './styles/leds.css';
import './styles/slider.css';
---

<Welcome />
<Message />
<Analyzer />
<Animations />
<Captures />

<script>
	import { ICElement } from './ic-element';

	class ICMain extends ICElement {
		render() {
			this.innerHTML = `<div id="timings-list"></div>
			<h2 class="ic-label" style="--vtn: label">Inspection Chamber</h2>
			<vtbag-ic-welcome></vtbag-ic-welcome>
			<vtbag-ic-message></vtbag-ic-message>
			<div class="main-head panel">
				<vtbag-ic-analyzer></vtbag-ic-analyzer>
			</div>
			`;
			this.insertAdjacentHTML(
				'beforeend',
				this.querySelector<HTMLElement>('vtbag-ic-analyzer input[value="animation"]:checked')
					? '<vtbag-ic-animations></vtbag-ic-animations>'
					: '<vtbag-ic-captures></vtbag-ic-captures>'
			);

			this.querySelector('vtbag-ic-analyzer')?.addEventListener(
				'change',
				parent.location.reload.bind(parent.location)
			);
		}
	}
	customElements.define('vtbag-ic-main', ICMain);
</script>

<style is:global>
	@layer components {
		vtbag-ic-main {
			display: block;
			height: 100vh;
			overflow-y: auto;
			overflow-x: clip;
			scrollbar-gutter: stable;
			.main-head,
			.main-body {
				display: grid;
				border-radius: 4px;
				grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
				grid-auto-flow: row dense;
				padding: 2px;
				> * {
					margin: 2px;
				}
			}

			&:has(input[value='capture']:checked) vtbag-ic-animations {
				display: none;
			}
			&:has(input[value='animation']:checked) vtbag-ic-captures {
				display: none;
			}
		}
	}
</style>
