<script>
	import type { Group } from './group';
	import { key } from './scope.ts';

	class ICPseudo extends HTMLElement {
		#initialized = false;
		#computedStyle: CSSStyleDeclaration | undefined;
		#dirty = false;

		constructor() {
			super();
		}
		connectedCallback() {
			if (!this.#initialized) {
				this.#initialized = true;

				let scope;
				let groupElement;
				let name = this.getAttribute('name');
				if (!name) {
					name = '::view-transition';
					scope = (this.closest('vtbag-ic-scope') as VtbagIcScopeElement).element;
				} else {
					groupElement = this.closest('vtbag-ic-group') as VtbagIcGroupElement;
					name = `::view-transition-${name}(${groupElement.name})`;
					scope = groupElement.scope.element;
				}
				// todo: simplify
				this.#computedStyle = scope?.ownerDocument.defaultView?.getComputedStyle(scope, name);

				// potentially "slotted" elements
				this.insertAdjacentHTML(
					'afterbegin',
					`<span class="name">${this.getAttribute('name')?.replace('image-pair', 'pair').replace('group-children', 'children') || '::view-transition'}</span>`
				);

				if (this.getAttribute('name') === 'group-children') {
					const group = this.closest<VtbagIcAnimationsElement>('vtbag-ic-animations')!
						.groupMaps.get(key(scope))
						?.get(groupElement!.name) as Group;
					let html = '<div name="children">';
					let root = group;
					while (root.parent) root = root.parent;
					group.children.forEach(
						(g) =>
							(html += `<button data-group="${g.preOrder}" style="border: 2px solid oklch(0.65 0.11 ${(360 / (root.postOrder! - root.preOrder! + 1)) * g.preOrder!}deg / 1)">${g.name.replace(
								/-vtbag-match-element-([0-9]+)/,
								(_, num) => `match-element<sup>(${num})</sup>`
							)}</button>`)
					);
					html += '</div>';
					this.insertAdjacentHTML('beforeend', html);
				}
			}
			this.render();
		}
		static get observedAttributes() {
			return ['name'];
		}

		get exists() {
			return this.#computedStyle?.width !== 'auto';
		}

		attributeChangedCallback(name: string, oldValue: string, newValue: string) {
			if (oldValue !== newValue) {
				this.#dirty = true;
				this.render();
			}
		}

		render() {
			if (this.isConnected && this.#dirty) {
				this.#dirty = false;

				/*
				root.querySelector<HTMLHeadElement>('.scope-path')!.innerText =
					this.getAttribute('path') || '';
				const list = root.querySelector('.anim-list')!;
				list.innerHTML = '';
				this.#animations.forEach((anim) => {
					const item = this.#item.cloneNode(true) as HTMLElement;
					item.querySelector<HTMLSpanElement>('.pseudo-name')!.innerText =
						anim.effect?.pseudoElement || 'none';
					item.querySelector<HTMLSpanElement>('.anim-name')!.innerText =
						(anim.constructor.name === 'CSSAnimation' && (anim as CSSAnimation).animationName) ||
						'none';
					list.appendChild(item);
				});*/
			}
		}
	}

	if (!customElements.get('vtbag-ic-pseudo')) customElements.define('vtbag-ic-pseudo', ICPseudo);
</script>
