---
import Pseudo from './Pseudo.astro';
import GroupList from './GroupList.astro';
---

<Pseudo />
<GroupList />
<script>
	import { getElementSelector } from './element-selector';
	import { type Group, size } from './group';

	class ICScope extends HTMLElement {
		#scope: HTMLElement | null = null;
		#group: Group | undefined = undefined;
		#animations: Animation[] = [];
		#path: string | undefined = undefined;
		#dirty = false;

		constructor() {
			super();
		}
		connectedCallback() {
			this.render();
		}

		get path() {
			return (this.#path ??= getElementSelector(this.#scope!));
		}

		get element() {
			return this.#scope;
		}

		init(element: HTMLElement, root: Group, animations: Animation[]) {
			this.#scope = element;
			this.#group = root;
			this.#animations = animations;
			this.#path = undefined;
			this.#dirty = true;
			this.render();
		}

		get animations() {
			return this.#animations;
		}
		set animations(value: Animation[]) {
			this.#animations = value;
			this.#dirty = true;
			this.render();
		}

		render() {
			if (this.isConnected && this.#dirty) {
				this.#dirty = false;
				this.innerHTML = `
	<h3 class="heading">Scope <span class="scope-path">${this.path}</span></h3>
	<vtbag-ic-pseudo></vtbag-ic-pseudo>
	<vtbag-ic-group-list></vtbag-ic-group-list>`;
				(this.lastElementChild as VtbagIcGroupListElement).animations = this.animations;
			}
		}
	}
	if (!customElements.get('vtbag-ic-scope')) customElements.define('vtbag-ic-scope', ICScope);
</script>
