---
import Pseudo from './Pseudo.astro';
import GroupList from './GroupList.astro';
---

<Pseudo />
<GroupList />
<script>
	import { mayStartViewTransition } from '@vtbag/utensil-drawer/may-start-view-transition';
	import { getElementSelector } from './element-selector';
	import { type Group, isSorted } from './group';
	import { key } from './scope';

	class ICScope extends HTMLElement {
		#scope: HTMLElement | null = null;
		#group: Group | undefined = undefined;
		#animations: Animation[] = [];
		#path: string | undefined = undefined;
		#dirty = false;
		static #nextId = 0;
		#id = ICScope.#nextId++;

		constructor() {
			super();
		}
		connectedCallback() {
			this.render();
		}

		get path() {
			return (this.#path ??= getElementSelector(this.#scope!));
		}

		get scopeId() {
			return this.#id;
		}
		get element() {
			return this.#scope;
		}

		init(element: HTMLElement, root: Group, animations: Animation[]) {
			this.#scope = element;
			this.#group = root;
			this.#animations = animations;
			this.#path = undefined;
			this.#dirty = true;
			this.render();
		}

		get animations() {
			return this.#animations;
		}
		set animations(value: Animation[]) {
			this.#animations = value;
			this.#dirty = true;
			this.render();
		}

		render() {
			if (this.isConnected && this.#dirty) {
				this.#dirty = false;
				let html = `<div class="scope-head"><div class="scope-head-main"><h3 class="heading">Scope <span class="scope-path">${this.path}</span></h3>`;

				const group = this.closest<VtbagIcAnimationsElement>('vtbag-ic-animations')!
					.groupMaps.get(key(this.#scope!))
					?.get('@') as Group;
				html += '<div name="children">Groups: ';
				group.children.forEach((g) => {
					html += `<button>${g.name.replace(
						/-vtbag-match-element-([0-9]+)/,
						(_, num) => `match-element<sup>(${num})</sup>`
					)}</button>`;
				});
				html += '</div></div>';

				if (!isSorted(group)) {
					html += `
				<div class="input-led-group">
					<div class="input-led-item">
						<input type="radio" name="sort-${this.#id}" value="alpha" id="scope-sort-${this.#id * 2}" checked	>
						<label for="scope-sort-${this.#id * 2}">
							<span class="led"></span>
              <span class="radio-text">Alphabetical</span>
						</label>
					</div>
					<div class="input-led-item">
						<input type="radio" name="sort-${this.#id}" value="paint" id="scope-sort-${this.#id * 2 + 1}">
						<label for="scope-sort-${this.#id * 2 + 1}">
							<span class="led"></span>
              <span class="radio-text">Paint Order</span>
						</label>
					</div>
				</div>`;
				}
				html += '</div>';
				this.innerHTML =
					html +
					`
	<vtbag-ic-pseudo></vtbag-ic-pseudo>
	<vtbag-ic-group-list></vtbag-ic-group-list>`;
				const groupList = this.lastElementChild as VtbagIcGroupListElement;
				groupList.animations = this.animations;
				this.querySelector('.input-led-group')?.addEventListener('change', (e) => {
					document.startViewTransition!(() =>
						groupList.sort(
							this.querySelector<HTMLInputElement>(`input[value="alpha"]`)!.checked
								? 'alpha'
								: 'paint-order'
						)
					);
				});
			}
		}
	}
	if (!customElements.get('vtbag-ic-scope')) customElements.define('vtbag-ic-scope', ICScope);
</script>
