---
import Animations from '@/components/ic/Animations.astro';
import { Font } from 'astro:assets';
---

<html data-ic="top" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1.0" />
		<title>Animations Test</title>

		<Font cssVariable="--font-labels" preload />
		<Font cssVariable="--font-logo" preload />

		<style>
			body {
				font-family: var(--font-label);
			}
		</style>
		<Animations />
	</head>
	<body>
		<script>
			import { setupHooks } from '@/ic2/hooks';
			setupHooks();
		</script>
		<iframe id="ic-iframe" src="/iframe-src/" width="50%" height="100%"></iframe><vtbag-ic-animations></vtbag-ic-animations>
		<style>
			:root,
			body {
				margin: 0;
				padding: 0;
				height: 100%;
				overflow: clip;
			}
			vtbag-ic-animations {
				display: inline-block;
				border-top: 1px solid #ccc;
				box-sizing: border-box;
				overflow: hidden;
				height: 100%;
				width:49vw;
			}
			iframe {
				display: inline-block;
			}
		</style>
	</body>
</html>
